<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="srcFolder" value="E:\GitHub\Sitecore-Hackathon\2018-Powerful-Ways\src" />
    <sc.variable name="featureFolder" value="E:\GitHub\Sitecore-Hackathon\2018-Powerful-Ways\src\Feature" />
    <sc.variable name="projectFolder" value="E:\GitHub\Sitecore-Hackathon\2018-Powerful-Ways\src\Project" />
    <sc.variable name="configurationFolder" value="serialization" />
  </sitecore>
</configuration>
