<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
          name="PowerfulWays.Feature.Blog" 
          description="PowerfulWays.Feature.Blog feature items" 
          dependencies="Foundation.*"
        >
          <targetDataStore
            physicalRootPath="$(featureFolder)\Blog\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/blog"/>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/JavaScriptServices/blog"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/blog"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/blog"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
