<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
          name="PowerfulWays.Project.Blog" 
          description="PowerfulWays.Project.Blog content items" 
          dependencies="Foundation.*"
        >
          <targetDataStore
            physicalRootPath="$(projectFolder)\Blog\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/content/blog"/>
            <include name="Media" database="master" path="/sitecore/media library/blog"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
